{% macro newsfeed(title, content) %}
<li class="news-feed__item">
    <h2 class="news-feed__title"><a href="#" class="news-feed__link">{{ title }}</a></h2>
    <p class="news-feed__intro"><a href="#" class="news-feed__link">{{ content }}</a></p>
</li>
{% endmacro %}