nav {
    .nav {
        @include mq($min-width: 768px) {
            display: flex;
        }

        display: none;

        &__item {
            @include mq($min-width: 768px) {
                width: 110px;
            }

            text-align: center;
            transition: background .3s;
            width: 100%;
        }

        &__link {
            color: $white;
            text-decoration: none;
        }

        &__item--active {
            background: $blue-dark;
        }

        &__item:hover {
            background: $blue-dark;
        }
    }
}