{% extends "layouts/default.njk" %}

{% set navItems  = [
  {
    "title": "home",
    "link": "http://google.com"
  },
  {
    "title": "employee",
    "link": ""
  },
  {
    "title": "company",
    "link": ""
  },
  {
    "title": "services",
    "link": ""
  },
  {
    "title": "contact",
    "link": ""
  }
] %}

{% block content %}
  <div class="container">
    test
  </div>
{% endblock %}

{% block sidebar %}
  this is the sidebar
{% endblock %}
