{% extends "layouts/default.njk" %}
{% from 'components/_callout.njk' import callout as callout %}
{% from 'components/_table.njk' import table as table %}
{% from 'components/_tabs.njk' import tabs as tabs %}
{% from 'components/_button.njk' import button as button %}
{% from 'components/_modal.njk' import modal as modal %}

{% block content %}
  <h1>Best Bank Ever!</h1>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
  
  <h2>Reasons We’re Awesome:</h2>

  <ul class="disc">
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
  </ul>

  {{ callout('Amazing Mobile Info', 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.', 'images/iphone') }}

  <h3><span>Rates  | </span>Check Them Out</h3>

  {{ table() }}

{% endblock %}

{% block sidebar %}
  {{ button('Login', '#', 'purple', '', 'login-modal') }}
  {{ tabs() }}
{% endblock %}

{% block extras %}
  <!-- refactor this -->
  {{ modal(
    '
      <h2 class="modal__title">Sign In To Your Account</h2>
      <form class="form">
        <fieldset>

          <div class="form__group">
            <label class="form__label" for="username">Username</label>  
            <div class="form__input-container">
              <input id="username" name="username" type="text" placeholder="Enter your username" class="form__input">
            </div>
          </div>

          <div class="form__group">
            <label class="form__label" for="password">Password</label>
            <div class="form__input-container">
              <input id="password" name="password" type="password" placeholder="Enter your password" class="form__input">
            </div>
          </div>

          <button id="login" name="login" class="form__button button button--purple">Login</button>

        </fieldset>
      </form>

    ',
    'login-modal'
  ) }}
{% endblock %}