// COLORS
$blue: #328fc2;
$blue-dark: #006899;
$blue-light: #Lorem ipsum dolor;
$border: #cccccc;
$gray: #f5f5f5;
$gray2: #e7e8e9;
$green: #ddebe1;
$green-dark: #bbd8c4;
$green-light: #eef5f0;
$purple: #650360;
$text: #505050;
$white: #ffffff;
